<div class="tarjeta-tutoria">
  <div class="info-tutoria">
    <h3 class="materia">{{ tutoria.nombreMateria }}</h3>
    <div class="detalles-tutoria">
        <div class="detalle-col">
          <span class="etiqueta">Fecha</span>
          <div class="alumnos">
            <svg class="icono-alumnos" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/>
              <circle cx="9" cy="7" r="4"/>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87"/>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"/> 
            </svg>
            <span class="valor numero-alumnos">{{ tutoria.fecha }}</span>
          </div>
        </div>
        <div class="detalle-col">
          <span class="etiqueta">Horario</span>
          <div class="detalle-valor valor">{{ tutoria.horario }}</div>
        </div>
    </div>
  </div>
  
  <button 
    class="btn-calificar" 
    [style.background]="colorBoton"
    [style.border-color]="colorBoton"
    [class.btn-azul]="pestanaActiva === 'Próximas'"
    [class.btn-amarillo]="pestanaActiva === 'Anteriores'"
    (click)="alCalificar()">
    {{ textoBoton }}
  </button>
</div>
